@import "./assets/styles/variables.scss";

html {
  font-size: 62.5%;
  @media only screen and (max-width: 56.25em) {
    font-size: 58.5%;
  }
  @media only screen and (max-width: 37.5em) {
    font-size: 42.5%;
  }
}

body {
  font-size: 1.4rem;
  font-family: $montserratFont;
  max-width: 112.5em;
  margin: 0 auto;
}
